<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".StartApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogedexMVVM"
        tools:targetApi="31">
        <activity
            android:name=".ui.authentication.LoginComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DogedexMVVM">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dogslist.DogListComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_dog_list_compose"
            android:theme="@style/Theme.DogedexMVVM" />
        <activity
            android:name=".dogdetail.DogDetailComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.DogedexMVVM" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".dogdetail.DogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".dogslist.DogListActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>